<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if signed_in? %>
  Signed in as: <%= current_user.email %>
  <%= link_to 'Sign out', sign_out_path, :method => :delete %>
<% else %>
  <%= link_to 'Sign in', sign_in_path %>
<% end %>

<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>
